@import url("toggle.css");

.convert-input,
.convert-output {
  height: 400px;
  font-family: monospace;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.footer {
  background-color: #f5f5f5;
}
